.nav-container {
  position: absolute;
  bottom: 20px;
  height: 10%;
  width: 90%;
  left: 5%;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgba(10, 10, 38, 0.744);
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;

  /* width: 100%; */
}

.home,
.shop {
  display: flex;
  flex-direction: column;
  width: 66px;
  height: 42px;
  justify-items: normal;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #9ca3af;
}

span {
  font-size: 16px;
  color: #9ca3af;
}

.active {
  color: black;
  fill: black;
}
