.image {
  height: 100px;
  width: 100px;
  align-self: center;
}

.carou-s {
  margin-top: 20px;
  box-shadow: 5px 5px 10px rgba(10, 10, 38, 0.744);
  border-radius: 30px;
  background-color: rgba(0, 123, 255, 0.379);
  flex: 1;
  width: auto;
  padding: 20px;
}

button {
  border-radius: 30px;
}
