.top-sec-con {
  height: 30%;
  width: 100%;
  display: block;
}

.g-span {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.greetings {
  padding: 10px;
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(10, 10, 38, 0.744);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 20px;
}

.carousel {
  background-color: blueviolet;
  height: 80%;
}
