body {
  margin: 0;
  padding: 0;

  display: flex;
  /* place-items: center; */
  /* width: 500px; */
  min-width: 100vw;

  overflow: hidden;
  min-height: 100vh;
  background-color: #f1faff;
}

* {
  font-family: cursive;
}
